/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

}

.grid-container {
  height: 100vh;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 60px 70px 1fr;
 grid-template-areas:
 "head"
 "nav"
 "main";
 }

header {
  display: flex;
  flex-direction: row;
  grid-area: head;
  background: purple;
  display: flex;
  flex-basis: 0;
  align-items: center;
  padding: 5px 15px 5px 10px;
  color: white;
  }


nav {
  grid-area: nav;
  background: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav svg {
  margin: auto;
}

main {
  grid-area: main;
}

/* DASH-TOP */

.dash-top {
  display: flex;
  flex-direction: row;
 background: gray;
 height: 50px;
}

.headline {
  margin: auto auto auto 15px;
  color: white;

}

.searchbar {
    margin: auto 15px auto auto;
}

/* ALERT */

.alert-banner {
    height: 80px;
    background-color: purple;
    border-radius: 2px;
    padding: 5px 2rem 0 20px;
    margin: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.alert-banner strong {
    padding-right: 5px;
}

.alert-banner p:first-child {
    margin-right: auto;
}


/* GRAPHS */

.linechart {
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      margin-right: 50px;

}

.traffic-nav-link {
    padding-bottom: 10px;
    margin-right: 15px;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 50px;
}

.traffic-header h3 {
 font-size: 1em;
}

.traffic-nav {
    list-style-type: none;
    display: flex;
}


.traffic-nav  {
    margin-right: 10px;
}

.traffic-nav-link:hover {
      color: purple;
      font-style: bold;
}

/* CHART SECTION */

.full-size-chart {
  height: auto;
}

.half-size-charts {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px;
}
.chart-1,
.chart-2 {
  height: 100%;
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
}


.heading {
  padding-left: 10px;
  padding-bottom: 15px;
  }

/* SOCIAL MEDIA */
.social-media-info {
	height: auto;
	background: green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.social-1, .social-2, .social-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
	width: 100%;
	background: white;
	height: 200px;
	margin: 5px 0px;
}

/* MEMBER INFO */
.member-info {
	display: flex;
	height: auto;
	flex-direction: column;
	align-items: center;
	background: pink;
	padding: 5px;
}
.members-1, .members-2 {
	background: white;
	height: 300px;
	width: 100%;
	margin: 5px 0px;
}

/* MESSAGE AND SETTINGS */
.message-and-settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: yellow;
	padding: 5px;
	height: auto;
}
.message, .settings {
  background: white;
  height: 300px;
  width: 100%;
  margin: 5px 0px;
}

/* HEADER */

header h3 {
    margin-right: auto;
    margin-left: 10px;
  }

header svg {

    margin-left: auto;
    display: block;
    width: 100%;
    margin-right: 25px;
}

header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
  /* ICONS */

  .bell {
    height: 2.5rem;
    width: 2rem;
    margin-left: auto;
    position: relative;
    }

    .st0 {
        transition: .3s ease-out;
    }

    .st0:hover {
        fill: gold;
    }

    .social-icon {
      height: 60px;
      width: 60px;
      margin-top: 25px;
      margin-bottom: auto;
      margin-left: 30px;
      margin-right: 40px;
    }

    .side-icon {
      height: 3rem;
      width: 2rem;
    }

    .social-icon svg {
      border-radius: 20%;
      background-color: purple;
        height: 70px;
        width: 70px;
        padding: 10px;
      }


    .social-stats {
      margin-bottom: auto;
    }


    .makewhite {
      fill: white;
      }


  .profile-image {
    margin: auto;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 25px;
  }

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
	.grid-container {
		grid-template-rows: 70px 80px 1fr;
	}
}
@media only screen and (min-width: 1024px) {

  .grid-container {
  grid-template-columns: 60px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
  "head head"
  "nav main"
}

.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
  flex-direction: row;
}

nav {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav svg {
  margin: 25px 0 0 0;
  }

.chart-1, .chart-2,
.social-1, .social-2, .social-3,
.members-1, .members2,
.message, .setting {
  margin: 0 5px;
}

}
